<!DOCTYPE html>
<html>
<head>
    <title>Bridge Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="gap: 10px; display: flex; flex-direction: column; align-items: center; color: aliceblue; background-color: rgb(20, 20, 20);">
    <h1 style="color: aliceblue;">Bridge Activity Dashboard</h1>
    <h2>Recent Events</h2>
    <button onclick="location.href='/validation'" style="margin-bottom: 10px;">View Events Tests</button>
    <table border="1">
        <tr>
            <th style="background-color: black;">Source Chain</th>
            <th style="background-color: black;">Tx Hash</th>
            <th style="background-color: black;">Amount</th>
        </tr>
        {{range .Events}}
        <tr>
            <td>{{.SourceChain}}</td>
            <td>{{.TxHash}}</td>
            <td>{{.Amount}}</td>
        </tr>
        {{else}}
        <tr>
            <td colspan="3">No events found.</td>
        </tr>
        {{end}}
    </table>
    
        
</body>
</html>