<!DOCTYPE html>
<html>
<head><title>Wallet Info</title></head>
<body>
  <h1>Wallet Created</h1>
  <p><strong>Address:</strong> {{.Address}}</p>
  <p><strong>Public Key:</strong> {{.PublicKey}}</p>
  <p><strong>Mnemonic:</strong> {{.Mnemonic}}</p>
  <a href="/">Back</a>


  <!-- <form method="POST" action="/send">
  <input type="hidden" name="mnemonic" value="{{.Mnemonic}}" />
  <input type="password" name="password" placeholder="Enter Password" required />
  <input type="text" name="to_address" placeholder="Recipient Address" required />
  <input type="text" name="amount" placeholder="Amount" required />
  <button type="submit">Send Transaction</button>
</form> -->

</body>
</html>
